@layout Layout.EmptyLayout
@page "/loading"
@attribute [AllowAnonymous]

<div class="loading-overlay">
    <div class="loading-container">
        <div class="loading-ring"></div>
        <div class="loading-ring"></div>
        <div class="loading-ring"></div>
        <div class="loading-ring"></div>
        <h6>@(_settingsService.currentLanguage.loading_text)</h6>
    </div>
</div>


