@page "/"
@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <h1>Hello, @(context.User.Identity.Name)</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Hello, anonymous</h1>
    </NotAuthorized>
</AuthorizeView>

Welcome to your new app.
<a href="/not-found">not found</a>
<a href="/forbidden">forbidden</a>
<a href="/authorizing">authorizing</a>

@code {

}