@page "/counter"
@attribute [Authorize]
<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<AuthorizeView Roles="Admin">
    <Authorized>
        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
    </Authorized>
    <NotAuthorized>
        <button class="btn btn-primary" disabled @onclick="IncrementCount">Click me</button>
    </NotAuthorized>
</AuthorizeView>

<button class="btn btn-primary" @onclick="ReadBarcode">Read barcode!</button>
@if (!String.IsNullOrEmpty(scannedCode))
{
    <br />
    <span>Scanned code: @(scannedCode)</span>
}


@code {
    private int currentCount = 0;
    private string? scannedCode = string.Empty;

    private async Task IncrementCount()
    {
        await _utils.SendLocalNotification("Counter", "Incremented count by 1");
        currentCount++;
    }

    private async Task ReadBarcode()
    {
        scannedCode = await _utils.ScanBarcode();
        if (!string.IsNullOrEmpty(scannedCode))
        {
            await _utils.SendLocalNotification("Scanned code", scannedCode);
        }
        else
        {
            await _utils.SendLocalNotification("Scanned code", "No barcode scanned");
        }
    }
}
